h1, p {
  font-family: Lato;
}

.home {
  overflow: hidden;
  padding: 10px;
}

.home-page-intro {
  
  margin: 5px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.store-image {
  max-width: 100%;
  height: auto;
}

.landing {
  background-color: #004690;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.landing-paper {
  height: 70vh;
  width: 70vw;
}

.login-user-tabs {
  border: 1px solid #004690;
  border-radius: 5px;
  margin: 0 15px;
}

.loginTab {
  background-color: red;
  height: 90%;
}

.height-100 {
  height: 100%;
}

.height-400 {
  height: 350px;
  padding: 20px;
}

.tab-panel {
  border: 2px solid #004690;
  width: 87%;
  border-radius: 10px;
}

.c-pointer {
  cursor: pointer;
}

.button-curve {
  border-radius: 10px !important;
}

.red-alert {
  background-color: red !important;
}